name: Continuous Deployment to Hostinger

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2


      - name: Debug CI environment variable
        run: echo "CI is set to $CI"

      - name: Set Node.js version to 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      

  deploy:
    runs-on: ubuntu-latest
      
    needs: build
   

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

     

      - name: Deploy to Hostinger
        uses: SamKirkland/FTP-Deploy-Action@3.1.1

        with:
          ftp-server: ${{ secrets.FTP_SERVER }}
          ftp-username: ${{ secrets.FTP_USERNAME }}
          ftp-password: ${{ secrets.FTP_PASSWORD }}
          local-dir: build
          git-ftp-args: --auto-init
          server-dir: /home/u507924523/domains/yourhousi.in/public_html/portfoliomain  
          
