name: Continuous Deployment to Hostinger

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set Node.js version to 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Set CI to false
        run: echo "process.env.CI = false" >> $GITHUB_ENV

      - name: Build
        run: npm run build

      

  deploy:
    runs-on: ubuntu-latest
      
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Deploy to Hostinger
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOSTINGER_HOST }}
          username: ${{ secrets.HOSTINGER_USER }}
          password: ${{ secrets.HOSTINGER_PASSWORD }}
          port: 22  # Use the appropriate port if different
          script: |
            cd /home/u507924523/domains/yourhousi.in/public_html/portfoliomain
            rm -rf *
            cp -r ./build/* .
